@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {

    @font-face {
        font-family: "Boing";
        font-style: normal;
        font-weight: 600;
        font-display: swap;
        src: url('./assets/fonts/boing/boing_semibold_web.eot');
        src: local("Boing SemiBold"),
            local("Boing-Semibold"),
            local("Boing Semibold WEB"),
            local("Boing"),
            url('./assets/fonts/boing/boing_semibold_web.woff') format("woff"),
            url('./assets/fonts/boing/boing_semibold_web.ttf') format("truetype"),
            url('./assets/fonts/boing/boing_semibold_web.eot?#iefix') format("embedded-opentype"),
            url('./assets/fonts/boing/boing_semibold_web.svg#WEBBoing-Semibold') format("svg");
        text-rendering:optimizeLegibility;
        unicode-range: U+000-5FF
    }
    
    @font-face {
        font-family: "Graphik";
        font-style: normal;
        font-weight: 300;
        font-display: fallback;
        src: url('./assets/fonts/graphik/graphik_light.eot');
        src: local("Graphik Light"),
            local("Graphik-Light"),
            url('./assets/fonts/graphik/graphik_light.ttf') format("truetype"),
            url('./assets/fonts/graphik/graphik_light.eot?#iefix') format("embedded-opentype"),
            url('./assets/fonts/graphik/graphik_light.woff') format("woff"),
            url('./assets/fonts/graphik/graphik_light.svg#Graphik-Light') format("svg");
        text-rendering:optimizeLegibility;
        unicode-range: U+000-5FF
    }
        
    @font-face {
        font-family: "Graphik";
        font-style: normal;
        font-weight: 400;
        font-display: fallback;
        src: url('./assets/fonts/graphik/graphik_regular.eot');
        src: local("Graphik Regular"),
            local("Graphik-Regular"),
            url('./assets/fonts/graphik/graphik_regular.ttf') format("truetype"),
            url('./assets/fonts/graphik/graphik_regular.eot?#iefix') format("embedded-opentype"),
            url('./assets/fonts/graphik/graphik_regular.svg#Graphik-Regular') format("svg");
        text-rendering:optimizeLegibility;unicode-range: U+000-5FF
    }
    
    @font-face {
        font-family: "Graphik";
        font-style: normal;
        font-weight: 500;
        font-display: fallback;
        src: url('./assets/fonts/graphik/graphik_medium.eot');
        src: local("Graphik Medium"),
            local("Graphik-Medium"),
            url('./assets/fonts/graphik/graphik_medium.eot?#iefix') format("embedded-opentype"),
            url('./assets/fonts/graphik/graphik_medium.woff') format("woff"),
            url('./assets/fonts/graphik/graphik_medium.ttf') format("truetype"),
            url('./assets/fonts/graphik/graphik_medium.svg#Graphik-Medium') format("svg");
        text-rendering:optimizeLegibility;
        unicode-range: U+000-5FF
    }
    
    @font-face {
        font-family: "Graphik";
        font-display: fallback;
        font-style: normal;
        font-weight: 600;
        src: url('./assets/fonts/graphik/graphik_semibold.eot');
        src: local("Graphik Semibold"),
            local("Graphik-Semibold"),
            url('./assets/fonts/graphik/graphik_semibold.woff2') format("woff2"),
            url('./assets/fonts/graphik/graphik_semibold.woff') format("woff"),
            url('./assets/fonts/graphik/graphik_semibold.ttf') format("truetype"),
            url('./assets/fonts/graphik/graphik_semibold.svg#Graphik-Semibold') format("svg");
        text-rendering:optimizeLegibility;
        unicode-range: U+000-5FF
    }
    
    @font-face {
        font-family: "Tiempos Headline";
        font-style: normal;
        font-display: swap;
        font-weight: 600;
        src: local("Tiempos Headline Bold"),
            local("TiemposHeadline-Bold"),
            url('./assets/fonts/tiempos/TiemposHeadline-Bold.eot?#iefix') format("embedded-opentype"),
            url('./assets/fonts/tiempos/TiemposHeadline-Bold.woff') format("woff"),
            url('./assets/fonts/tiempos/TiemposHeadline-Bold.ttf') format("truetype"),
            url('./assets/fonts/tiempos/TiemposHeadline-Bold.svg#TiemposHeadline-Bold') format("svg");
        src: url('./assets/fonts/tiempos/TiemposHeadline-Bold.eot');
        unicode-range: U+000-5FF
    }
    
    @font-face {
        font-family: "Moret";
        font-style: normal;
        font-display: swap;
        font-weight: 400;
        src: url('./assets/fonts/moret/Moret-Regular.eot');
        src: local("Moret Regular"), 
            local("Moret Regular"),
            url('./assets/fonts/moret/Moret-Regular.woff2') format("woff2"),
            url('./assets/fonts/moret/Moret-Regular.woff') format("woff2"),
            url('./assets/fonts/moret/Moret-Regular.eot?#iefix') format("embedded-opentype"),
            url('./assets/fonts/moret/Moret-Regular.ttf') format("truetype"),
            url('./assets/fonts/moret/Moret-Regular.svg#Moret-Regular') format("svg");
        unicode-range: U+000-5FF
    }

    :root {
        --root-font-size: 10px;
        --root-font-family: sans-serif;
        --root-line-height: 1.15;
        --root-color: rgb(1, 27, 51);
        --text-color-light-gray: rgb(61, 94, 105);
        --bg-color-light-gray: rgb(249, 251, 252);

    }

    html {
        font-size: var(--root-font-size);
        font-family: var(--root-font-family);
        line-height: var(--root-line-height);
    }

    h1, h2, h3, h4, h5, span {
        color: var(--root-color);
    }
  
}


@layer components {
    
    /* Styling Top-Bar */
    .top_bar_wrapper {
        @apply
            py-4
            px-6
            text-10xl/8
            text-white
            tracking-normal-wide
            bg-slate-800 
            flex 
            justify-center 
            items-center
        ;
    }

    /* Setting Logo Width */
    .nav-menu .brand_logo svg {
        @apply
            w-48
        ;
    }

    /* Styling Menu-Items */
    .nav-menu .menu-item {
        @apply
            flex
            items-center
            text-2xl
            font-medium
            font-graphik
            -tracking-normal-wider
            capitalize
        ;
    }

    /* Styling Nav-Menu DropDown */
    .nav-menu .menu-item a > span {
        border-style: solid;
        border-width: 4px 4px 0 4px;
        border-color: var(--root-color) transparent transparent transparent;
    }


    .nav-menu .menu-item .sub-menu .submenu-info h4 {
        @apply
            text-11xl 
            font-medium 
            capitalize
            font-boing
            tracking-normal-wider
        ;
    }
    .menu-item .sub-menu .submenu-info p {
        @apply 
            text-10xl/normal
            font-normal
            tracking-none
        ;
    }
    .menu-item .sub-menu p {
        @apply 
            text-base
            text-skin-light-gray
            font-semibold
        ;
    }
    .menu-item .sub-menu a {
        @apply
            text-2xl
            font-graphik
            font-medium
            capitalize
        ;
    }
    
}











/* @layer utilities {

} */
